@{
    ViewBag.Title = "Contact";
}

<h1>Person</h1>

@using (Html.BeginForm())
{
    <div class="form-group">

        <input type="text" name="Name" class="form-control" />

        <input type="text" name="DateOfBirth" class="form-control" />

        <input type="text" name="EmployeeId" class="form-control" />

        <input type="text" name="DepartmentId" class="form-control" />

        <input type="submit" value="Submit">
    </div>


}