<div class="UploadController">

    <form>

        {{ 2 + 2 }}

        <input type="file" name="uploadFile" data-ng-model="uploadFile" />

        <input type="submit" value="Upload" ng-click="Upload(uploadFile)">

    </form>

</div>